body {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

table, thead, tr,td {
    border: 1px solid black;
    border-collapse: collapse;
}

.container {
    display: flex;
    width: 80%;
    flex-direction: column;
    padding: 30px;
    border: 2px solid;
}

.painel-cadastro {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.campos {
    display: flex;
    flex-direction: column;
}

.campos input {
    margin-bottom: 10px;
}

.painel-tabela table{
    width: 100%;
}